@model WebApplication4.Models.DataHoliday

@{
    ViewBag.Title = "DeleteHoliday";

}

<h2>DeleteHoliday</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DataHoliday</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />

    </div>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


