
@{
    ViewBag.Title = "Index";
    Layout = null;
}



<style media="screen">
    .container {
        border: 0px solid darkgrey;
        border-radius: 3px;
        padding: 5px;
        width: 99%;
        margin: 0 auto;
    }

    .hightligh a {
        background: #FF0000 !important;
        color: #FFFF00 !important;
    }

    .highlight-event a {
        background: #32cd32 !important;
        color: #000000 !important;
    }


    .ui-datepicker {
        background: #B0C4DE;
        border: 1px solid #555;
        color: #000000;
    }
</style>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>



<script>
    $(document).ready(function () {
        /*var queryDate = '1/1/2022';*/
        var queryDate = null;

        /*queryDate = '1/1/' + currentYear;*/


        $(function () {
            $("#year").change(function () {
                $('#datepicker').datepicker("destroy");
                var conceptName = $('#year').find(":selected").text();
                higHlightDays(conceptName);
            });
        });

        higHlightDays();
        function higHlightDays(year)
        {
            if (year == null) {
                queryDate = null;
            }
            else {
                queryDate = '1/1/' + year;
            }
            var dataHoliday =
            {
                Year: year
            }
            $.ajax({
                url: '@Url.Action("getEventday", "Calendar")',
                type: "POST",
                data: JSON.stringify(dataHoliday),
                dataType: "json",
                contentType: "application/json",
                beforeSend: function () {

                },
                success: function (json) {

                    if ((json[0].Status.Status) && (json[0].Status.Success)) {
                        
                        var listDataTableaHoliday = json[0].Details.dataTableaHoliday;
                        var listDataTableEvents = json[0].Details.dataTableEvents
                        var dataHoliday = JSON.parse(listDataTableaHoliday);
                        var dataEvents = JSON.parse(listDataTableEvents);

                        $('#datepicker').datepicker({
                            beforeShowDay: function (date) {
                                return setHoliday(date, dataHoliday, dataEvents);
                            }
                            ,defaultDate: queryDate
                        });
                            
                            
                    }
                },
                complete: function () {
                    //$(".loading").hide();
                },
                error: function (response) {
                    // document.getElementById("text-error").innerHTML = "You can't check back the past year.";
                }
            });
        }
        function setHoliday(date, jsonHoliday,jsonEvents) {
            
            if (jsonHoliday != null)
            {
                const dates = [];
                const tips = [];
                for (let i = 0; i < jsonHoliday.length; i++) {
                    dates.push(jsonHoliday[i].Day_Holiday);
                    tips.push(jsonHoliday[i].Details);
                }
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                var day = date.getDate();
                var newdate = day + "/" + month + '/' + year;
                for (var i = 0; i < dates.length; i++) {
                    if (dates[i].toString() == newdate) {
                        return [true, 'hightligh', tips[i]];
                    }
                }
            }
            
            if (jsonEvents != null)
            {
                const eventDates = [];
                const eventTitles = [];

                for (let i = 0; i < jsonEvents.length; i++) {
                    eventDates.push(jsonEvents[i].EventDate);
                    eventTitles.push(jsonEvents[i].Subject);
                }

                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                var day = date.getDate();
                var newDate = day + "/" + month + '/' + year;

                for (var i = 0; i < eventDates.length; i++) {
                    if (eventDates[i].toString() == newDate) {
                        return [true, 'highlight-event', eventTitles[i]];
                    }
                }
            }           

            return [true, ''];
        }
  
    });



</script>

<div class='container'>
    <select id="year">
        @for (int year = DateTime.Now.Year; year >= 2021; year--)
        {
            <option value="@year">@year</option>

        }
    </select>

    <div id="datepicker"></div>
    @*<input type="date" id="dtFrom" name="dtFrom" />
        <button id="DateChanger">Click</button>*@

</div>







