
@{
    ViewBag.Title = "ViewCalendar";
}
<style media="screen">
    .container {
        border: 0px solid darkgrey;
        border-radius: 3px;
        padding: 5px;
        width: 99%;
        margin: 0 auto;
    }
</style>

<html>
<head>
    <title>ThaiCreate.Com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset=utf-8 />
</head>

<body>
    <center>
        <h1>Calendar</h1>

        <table width="600" border="1" id="myTable">
            <!-- head table -->
            <thead>
                <tr>
 
                    <td width="91"> <div align="center">Day_Holiday </div></td>
                    <td width="98"> <div align="center">Details </div></td>
                </tr>
            </thead>
            <!-- body dyกกดกnamic rows -->
            <tbody></tbody>
        </table>
        <br />
        <input type="button" id="deleteRows" value="Delete Last Row">
        <input type="button" id="clearRows" value="Clear Table">
        <center>
</body>
</html>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // สร้างตาราง
        //function CreateTable(data) {
        //    // ลบแถวทั้งหมดก่อน
        //    $('#myTable tbody').empty();
        //    // สร้างแถวใหม่
        //    $.each(data, function (index, item) {
        //        var row = $('<tr>');
        //        var Day_Holiday = $('<td>').html(item.Day_Holiday);
        //        var Details = $('<td>').html(item.Details);
        //        row.append(Day_Holiday);
        //        row.append(Details);
        //        $('#myTable tbody').append(row);
        //    });
        //}

        // ดึงข้อมูลโดยใช้ ajax
        $.ajax({
            url: '@Url.Action("getEventday", "Calendar")',
            type: 'POST',
            dataType: 'json',
            data: {
                Year: '2023' // ตัวอย่างการส่งค่า Year ไปให้ฟังก์ชันใน controller
            },
            success: function (response) {
                console.log(response);
                CreateTable(response[0].Details.dataTableaHoliday);
            },
            error: function (response) {
                console.log(response);
                console.log(response.responseJSON[0].Status.Message);
            }
        });
    });
</script>

